{% extends 'matchapp/base.html' %}
{% load static %}
{% load extras %}

{% block content %}

</br>
<div id='matches'>
    

    {% if matches %}

    {% for match in matches %}

    <div class="col-sm-4 my-4">
        <div class = "card-groups">
            <div class = "card">
                 <img class="card-img-top" src="{{match.profile.image.url}}" alt="Card image cap">
    <div id={{match.id}} class="match">
        <div class="card-body text-center" style="height: 75px">
        <h5 class = "card-title">
             {{match.username}} </br>
            
        </h5>
        </div>
        <div class = "card-footer" style="height: 50px">
        <!--  here is the code for the number buttons
        <button type=button class=deleteItem>Delete</button>
        -->

        <!-- if the match are friends then that means 
             they have accepted each other so show the number -->
        {% if match in friends %}
        <div> {{match.profile.number}} </div> 
        

        

        <!-- We know they are not friends so we can request their number-->
        {%else%}

        {% if match|check_request:u %}
        <small><a class='btn btn-primary' href="/accept_request/{{ match.id }}">Accept</a></small>
        <small><a class='btn btn-warning' href="/cancel_request/{{ match.id }}">Ignore</a></small>

        {% else%}
        {% if match|check_sent:u %}
        <small><a class='btn btn-warning' href="/delete_request/{{ match.id }}">Cancel Request</a></small>

        {% else %}
        <small><a class="btn btn-warning" href="/send_request/{{ match.id }}">Request Number</a></small>
        {%endif%}
        {%endif%}
        {% endif %}

        </div>

    </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <br><span class='info'>No matches yet</span><br><br>
    {% endif %}
</div>


{% endblock %}