{% extends 'matchapp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<style>
  .col-md-7 {
    width: 100%;
    margin-left: -70px;
  }
  #id_user {
    width: 100px;
  }
  #id_email {
    width: 200px;
  }
  #id_number {
    width: 120px;
  }
  #id_gender {
    width: 70px;
  }
  #id_dob {
    width: 120px;
  }
  #id_hobbies {
    width: 150px;
  }

  </style>


<div class="container_register">
  <div class="container_profile">
    <div class="row">


      <div class="col-md-7 ">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>User Profile</h4>
          </div>
          <div class="panel-body">
            <div class="box box-info">

              <div class="box-body">
                <div class="col-sm-6">



                  <div align="center">
                    <img alt="User Pic" src="{{user.profile.image.url}}" id="profile-image" class="img-circle img-responsive">
                    <input id="profile-image-upload" class="hidden">
                    <progress id="progressBar" value="0" max="100" style="width:150px;display:none;">
                    </progress>

                    <div style="color:#999;">click here to change profile image</div>

                  <!--Upload Image Js And Css-->
                </div>

                <form id='upload_form' method='POST' action="{% url 'displayProfile' %}" enctype='multipart/form-data'>
                  {% csrf_token %}
                  <input type="file" id="img_file" style="display:none;">
                </form>
                <br>

                <!-- /input-group -->
              </div>
              <div class="col-sm-6">
                <h4 style="color:#00b1b1;">{{user.username}}</h4>
                <span>
                  <p>Welcome to {{appname}}</p>
                </span>
              </div>
              <div class="clearfix"></div>
              <hr style="margin:5px 0 5px 0;">

              <form  method='POST' class=profileForm action="{% url 'editProfile' %}" enctype='multipart/form-data'>

                <div id='error_signup' class='error_message'> {{error}}                  </div>
                  {% csrf_token %}
                  {{ form|crispy }}
                  {{ formM|crispy }}



                  <!--<div class=updateBtn id=update_button><input type="submit" value="Save"></div>-->
                  <input type="submit" value="Submit">

                </form>

          <!-- /.box-body -->
        </div>

        <!-- /.box -->

      </div>


    </div>
  </div>
</div>

<script src="{% static 'matchapp/scripts.js' %}"></script>

<script>


</script>


</div>
</div>

</div>
</form>
{% endblock %}
