{% extends 'matchapp/base.html' %}
{% load static %}
{% block content %}

<style>
/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;

}

body 
{
    background: url("/static/images/background2.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;background=>
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    font-weight: 300;
}


.container{
height: 100%;
align-content: center;
}

.card{
height: 400px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
}

.card-header{
    background-color: white;  
}

.card-header h3{
color: black;
}

.card-footer{
    height: 80px;
    background-color: white;  
}


.links{
color: black;
}

.links a{
margin-left: 4px;
}


#id_username, #id_password, #login_submit{
    -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  outline: 0;
  
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: black;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: 300;

}

#login_submit{
    background-color: #E12D50;     
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#login_submit:hover{
    background-color: #e12d7d;    
}

#error_signin{
    color: red;
}

</style>

<!---
<div class=container_register>
<form method="POST" action="{% url 'login' %}">
    <div class="imgcontainer">
      <img src="{% static 'images/logo.png' %}" class="logo">
    </div>
    <br>
    {% csrf_token%}
    {{ form.as_p }}
    <br>
    <input type="submit" value="Submit">
    <input type="reset" value="Reset">
    <br>

    <p> Do not have an account? <a href="{% url 'register' %}">Click here</a>.</p>

    <div id='error_signin' class='error_message'> {{error}} <div>


</form>
-->
<div class = "transparent">
<div class="container_register">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Sign In</h3>
            </div>
            <div class="card-body">
                <form method="POST" action="{% url 'login' %}"> {% csrf_token%}
                    
                    {{ form.as_p }}

                    <div class="form-group">
                        <input id = "login_submit" type="submit" value="LOGIN">
                        <p id='error_signin' class='error_message'> {{error}} <p>

                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                     <p class = signupcenter> Don't have an account?  <a href="{% url 'register' %}">Sign Up</a> </p>
                </div>
                <!--<div class="d-flex justify-content-center">
                    <a href="#">Forgot your password?</a>
                </div>-->
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
