{% extends 'matchapp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}



<style>


  body
  {
    background: url("/static/images/backgroundWC.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;background=>
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    font-weight: 300;
  }

</style>


<div class = "bg-couple">
</div>

<div class="col-md-2 pt-3">
</div>

<div class="col-md-2 pt-3">

  <div class=container_register>
    <form method="POST" action="{% url 'login' %}">
      <div style="margin: 0 auto; width: 100%; border-radius: 10px; padding-top: 40px; padding-bottom: 40px; padding-left: 60px; padding-right: 60px; background-color: white;">


        {% csrf_token %}
        {{ form.as_p }}

        <div class="form-group">
          <input id = "login_submit" class="btn btn-success" type="submit" value="Login">
          <p id='error_signin' class='error_message'> {{error}} <p>

          </div>
          <p class = signupcenter> Don't have an account?  <a href="{% url 'register' %}">Sign Up</a> </p>

          </div>
      </form>


  </div>

    </div>

{% endblock %}
