{% extends 'matchapp/base.html' %}
{% load static %}
{% block content %}

<style>

.main{
    margin-left: 570px;
}

.title,.subtitle{
	text-align: center
}


.card-title{
	text-align: center
}

.card{
	 width:300px;
     
}

#slider-range {
    margin: 10px;
}
.ui-slider-horizontal {
    height: 8px;
    width: 200px;
}
.ui-slider .ui-slider-handle {
    height: 15px;
    width: 5px;
    padding-left: 5px;
}

.age{
    width: 30px; 
}




</style>


<h3 class="title"> Matches <h3>
        <h4 class="subtitle"> You have {{numberOfhobbies}} match(es) </h4>


<div class="filter_form">
    <form action="{% url 'filter' %}" method="POST">
        <div class="main">
        	<br>
        	<br>
            &nbsp; &nbsp; &nbsp;
            <div class = "filter">
                <div class = "gender">
            <select id = "genderOption">
            <option value = "default" disabled selected value> -- Select an option -- </option>
            <option value="M">Male</option>
            <option value="F">Female</option>
            </select>
            </br></br>       
            </div>
                <div class = "ageFilter">
            <input id = "range1" class = "age" type="text" onkeypress="return isNumberKey(event)"> </input> -
            <input id = "range2" class = "age" type="text" onkeypress="return isNumberKey(event)"> </input>
                 </div>
             </br>
            <input type = "button" value = "Search"> </input> <input id = "reset_button" type = "button" value = "Reset"> </input>
            </div>
        </div>
    </form>
</div>


{%for match in matches%}


<div class="col-sm-4 my-4">

<div class="card-groups">
    <div class="card">


        <img class="card-img-top" src="{{match.profile.image.url}}" alt="Card image cap">
        <div class="card-body text-center">
            <h5 class="card-title"> {{ match.username }}</h5>
        </div>
        <p class="card-text">
            <div><b>Email:</b> {{ match.profile.email }}</div>
            <div><b>Age:</b> {{ match.profile.age }}</div>
            <div><b>Gender:</b> {{ match.profile.gender }}</div>
            <div><b>Hobbies:</b> {{ match.hobbies }}</div>
        </p>
    </div>

</div>
</div>





{%endfor%}




{% endblock %}