{% extends 'matchapp/base.html' %}
{% load static %}
{% block content %}

<style>

    .main{
    margin-left: 570px;
}

.title,.subtitle{
    text-align: center
}
.col-sm-4 {
    display: inline;
}
.card-title{
    text-align: center
}

.card{
     width:300px;
     
}

.age{
    width: 30px; 
}

#topNav ul li ul { overflow:auto; }



#pr2:hover~ #a {
    background-color: green;
}

.show {
    display: block;
}

.decoratedErrorField{
    border:2px solid red;
}

#messageValidation{
    text-align: center;
    color: red;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 14px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}





</style>


<h3 class="title"> Matches <h3>
        </br>
        <h4 class="subtitle">You have {{numberOfhobbies}} match(es) </h4>
        <p id="messageValidation"></p>

        <form method="GET" action="{% url 'filter' %}" id=filter-form>

            <div class="container-fluid bg-light ">
                <div class="row align-items-center justify-content-center">

                    <div class="col-md-2 pt-3">
                        <div class="form-group ">
                            <nav id="topNav">
                                <ul style="list-style: none;">
                                    <li>
                                        <a class="dropbtn" href="#" title="Nav Link 2" onclick="gender()">Filter by Age</a>
                                        <ul id="displayContentG" style="list-style: none; display:none;">
                                            </br>
                                            </br>
                                            <li> <input id="range1" class="age" type="text" name="age-min" placeholder="min"
                                                    onkeypress="return isNumberKey(event)"> </input> to
                                                <input id="range2" class="age" type="text" name="age-max" placeholder="max"
                                                    onkeypress="return isNumberKey(event)"> </input> </li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-2 pt-3">
                        <div class="form-group">
                            <nav id="topNav2">
                                <ul style="list-style: none;">
                                    <li>
                                        <a class="dropbtn" id="agedropdown" href="#" onclick="age()">Filter by Gender</a>
                                        <ul id="displayContentA" style="list-style: none; display:none;">
                                            </br>
                                            <li><input type="radio" class="gender" id="pr1" name="gender" value="M">Male</li>
                                            <li><input type="radio" class="gender" id="pr2" name="gender" value="F">Female</li>

                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <button type="submit" id="save_button" class="btn btn-primary btn-block">Search</button>
                    </div>
                    <div class="col-md-2">
                        <button type="button" id="reset_button" class="btn btn-primary btn-block">Refresh</button>
                    </div>
                </div>
            </div>
        </form>

        <div id=matches>
            {%for match in matches%}

            <div class="col-sm-4 my-4">

                <div class="card-groups">
                    <div class="card">


                        <img class="card-img-top" src="{{match.profile.image.url}}" alt="Card image cap">
                        <div class="card-body text-center">
                            <h5 class="card-title"> {{ match.username }}</h5>
                        </div>
                        <p class="card-text">
                            <div><b>Email:</b> {{ match.profile.email }}</div>
                            <div><b>Age:</b> {{ match.profile.age }}</div>
                            <div><b>Gender:</b> {{ match.profile.gender }}</div>
                        </p>
                    </div>

                </div>
            </div>

            {%endfor%}

        </div>


        {% endblock %}