{% extends 'matchapp/base.html' %}
{% load static %}
{% load extras %}
{% load crispy_forms_tags %}
{% block content %}


<div class="bg-purple">
    <br>
    <h3 class="title"> Matches <h3>
            <br>
            <h4 class="subtitle">You have {{numberOfhobbies}} match(es) </h4>
            <p id="messageValidation"></p>

            <form method="GET" action="{% url 'filter' %}" id=filter-form>

                <div class="container-fluid bg-light ">
                    <div class="row align-items-center justify-content-center">
                            <div> Show me: </div>


                        <div class="col-md-2 pt-3">
                            <div class="form-group">
                                <nav id="topNav2">
                                    <div class="row">
                                        <div class="col-md-6">

                                            <div class="input-group">

                                                <div class="input-group-btn" data-toggle="buttons">
                                                    <label class="btn btn-primary active">
                                                        <input type="radio" class="gender" id="pr1" name="gender" value="M">Male
                                                        <i class='fas fa-mars' style='font-size:24px'></i>
                                                    </label>
                                                    <label class="btn btn-primary">
                                                        <input type="radio" class="gender" id="pr2" name="gender" value="F">Female
                                                        <i class='fas fa-venus' style='font-size:24px'></i>
                                                    </label>
                                                </div>
                                            </div>


                                            <!--<div class="btn-group dropdown">
                                <button class="btn btn-success btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Filter by Gender
                                </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">

                                             <li><input type="radio" class="gender" id="pr1" name="gender" value="M">Male <i class='fas fa-mars' style='font-size:24px'></i>   </li>
                                            <li><input type="radio" class="gender" id="pr2" name="gender" value="F">Female  <i class='fas fa-venus' style='font-size:24px'></i></li>

                                    </div>-->
                                        </div>
                                        <!--
                                <ul style="list-style: none;">
                                    <li>
                                        <input type="button" class="dropbtn" id="agedropdown" value="Filter by Gender">
                                        <ul id="displayContentG" style="list-style: none; display:none;">
                                            </br>

                                        </ul>
                                    </li>
                                </ul>-->

                                        </div>
                                </nav>
                            </div>
                        </div>

                        <div class="col-md-2 pt-3">
                            <div class="form-group ">
                                <nav id="topNav">

                            <p> Age: </p>
                              <div id="slider-range"></div>
                                <div id="custom-handle" class="ui-slider-handle"></div>
                                    <input id="range1" name = "age-min" readonly>
                                    &nbsp;<input id="range2" name = "age-max" readonly>


                                </nav>
                            </div>
                        </div>

                        <div class="col-md-2 pt-3">
                            <div class="form-group ">
                                <nav id="topNav3">
                                    <ul style="list-style: none;">
                                        <li>
                                            <button class="btn btn-success" type="submit" id="save_button">
                                                <span class="btn-label"> <i class="glyphicon glyphicon-search"></i>
                                                </span>Search</button>

                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <div class="col-md-2 pt-3">
                            <div class="form-group ">
                                <nav id="topNav4">
                                    <ul style="list-style: none;">
                                        <li>

                                            <button type="button" class="btn btn-labeled btn-info" id="reset_button">
                                                <span class="btn-label"><i class="glyphicon glyphicon-refresh"></i></span>Refresh</button>

                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>


                    </div>
                </div>
            </form>

            <div id=matches>
                {%for match in matches%}

                <div class="col-sm-4 my-4">

                <div class="col-md-2 pt-3"> </div>


                    <img class="card-img-top" src="{{match.profile.image.url}}" alt="Card image cap">
                    <div class="card-body text-center">
                        <h5 class="card-title"> {{ match.username }}
                            {% if match|check_likes:u %}
                            <input type="image" id={{match.id}} class='heart' name="submit" src="{% static '/images/like_2.png' %}"
                                border="0" alt="Submit" style="width: 50px; border:0 none;" />
                            {%else%}
                            <input type="image" id={{match.id}} class='heart' name="submit" src="{% static '/images/like_1.png' %}"
                                border="0" alt="Submit" style="width: 50px; border:0 none; outline:0;" />
                            {%endif%}
                        </h5>
                    </div>
                    <table>
                        <tr>
                            <td> Age: {{ match.profile.age }} </td>
                        </tr>
                        <tr>
                            <td> Gender: {{ match.profile.gender }} </td>
                        </tr>
                        <tr>
                            <td> Hobbies:
                                {%for hobbies in match.hobbies.all %}
                                {{hobbies}}
                                {%endfor%}
                            </td>
                        </tr>
                    </table>
                </div>

                {%endfor%}

            </div>



{% endblock %}
